<div class="smooth">
    <section id="home" [lazyLoad]="image1">
        <h2 class="tag">
            <span class="title">
                <span class="fname">{{fname}}</span>
                <small>weds</small>
                <span class="sname">{{sname}}</span></span>
        </h2>
    </section>
    <section id="about" [lazyLoad]="image2">
        <h2 class="tag">
            <span>
                Join us as we embark on this beautiful journey of love, laughter,<br>
                and a lifetime of shared dreams.<br>
                Your presence will make our day even more special.
            </span>
        </h2>
    </section>
    <section id="dates" [lazyLoad]="image3">
        <h2 class="tag">
            <span>on 07-12-2023 <br>
                at 12.35 pm
            </span>
        </h2>
    </section>
    <section id="contact" [lazyLoad]="image4">
        <h2 class="tag">
            <span style="text-decoration: underline;">Venue</span><br>
            <span>
                Shree Krupa Banquets,<br>
                Sector 6,Khanda Colony,<br>
                Panvel - 410206
            </span>
        </h2>
        <hr>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1886.1162114102162!2d73.112579!3d19.0094773!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e84a0eb9b989%3A0x1d45820a84849bea!2sShree%20Krupa%20Banquets!5e0!3m2!1sen!2sin!4v1698054369901!5m2!1sen!2sin"
            style="border:0;width: 90%;height: 60vh;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>